<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Error <%=error.code%></h1>
        <hr/>
        <p><%=error.message%></p>
        <h3><a href="./">Back to main</a></h3>
    </body>
</html>
